<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <h1>Welcome to CodeFellowship Application</h1>
 <a  th:href="@{/Allusers}">All users</a>
 <p th:text="${user.getFirstName()}"></p>
<p>This Appplication allows people learning to code to connect with each other and support each other on their coding journeys</p>

 <a href="/signup">SignUp</a>


<a  th:href="${'http://localhost:8080/profile/'+user.getId}">Profile</a>


</body>
</html>